<!-- KEEP ADDING 'srMiddle*NUMBER*' to the bottom of this to get the nice fade. Consult main.js if you have problems with this -->
<div class="mainLoader siteLoader"></div>
<img class="centerAdvert startMainContent sr srMiddle1" src="/public/img/expresstradeLogo.png">
<button type="button" class="btn btn-primary sr srMiddle2" data-toggle="modal" data-target="#ratesModal">View Rates</button>

<button type="button" class="btn accentBtn tradeBtn btn-lg startMainContent sr srMiddle3" ng-disabled="getValue('user') < getValue() || getValue('user') == 0" ng-click="sendTrade()">Trade! <i class="fas fa-exchange-alt"></i></button>

<div class="startMainContent">
	<a href="https://m.do.co/c/126d9f75d958" target="_blank"><img class="centerAdvert sr srMiddle4" src="/public/img/digitalOceanLogo.png"></a>

	<p class="secondary-text sr srMiddle5" style="margin-bottom: 8px"><i>Site by <a href="{{author.profileLink}}" target="_blank">{{author.name}}</a></i></p>

	<p class="secondary-text sr srMiddle6"><i>Follow us! <a href="https://twitter.com/gain_gg" target="_blank"><i class="fab fa-twitter"></i></a></i></p>

	<div class="sr srMiddle7">
		<a class="github-button" href="https://github.com/almatrass/vgo-trade-site" target="_blank" data-size="large" aria-label="Download vgo-trade-site on GitHub">View Source</a>
	</div>
</div>